.standard-button {
    border: var(--border-width) var(--border-style) var(--border-color);
    padding-left: 7.5px;
    padding-right: 7.5px;
    box-shadow: 2px 2px var(--border-color);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--main-background);
    user-select: none;
}

.standard-button:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}