.standard-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    animation: fade-in 250ms ease-in-out;
    z-index: 1;
}

.standard-popup.show {
    display: flex;
    animation: fade-in 250ms;
}

.standard-popup.closing {
    animation: fade-out 250ms ease-in-out;
}

.standard-popup-content {
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-y: hidden;
    scrollbar-width: none;
    z-index: 2;
}

.standard-popup-content.add-popup {
    border: var(--border-width) var(--border-style) var(--border-color);
    width: 250px;
    height: 330px;
    box-shadow: var(--border-width) var(--border-width) var(--border-color);
    background: var(--main-background);
}

.standard-popup-close {
    height: 40px;
    width: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(150px, -190px); /* Adjusted for focus */
    z-index: 3;
}

.standard-popup-close:active {
    transform: translate(152px, -188px); /* Adjusted for focus */
}


.standard-popup-close-img {
    width: 35px;
}

.select-image {
    border: var(--border-width) var(--border-style) var(--border-color);
    position: relative;
    width: calc(100% - 40px);
    height: 200px;
    box-shadow: var(--border-width) var(--border-width) var(--border-color);
    overflow: hidden;
}

.upload-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insert-name, .send-request {
    margin-top: -10px;
    width: calc(100% - 40px);
}

@media screen and (max-width: 521px) {
    .standard-popup-content.add-popup {
        width: 100dvw;
        height: 100dvh;
        box-shadow: 0;
    }

    .standard-popup-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        transform: translate(0px, 0px);
    }

    .standard-popup-close:active {
        transform: translate(2px, 2px);
    }

    .select-image {
        height: auto;
    }

    .insert-name, .send-request {
        height: 60px;
        font-size: 30px;
    }

    .insert-name {
        padding-left: 10px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}