.main-header {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.main-header-title {
    font-size: 65px;
    color: var(--main-color);
    font-family: "Jersey20-Regular";
}

.main-header-button {
    right: 15px;
    position: absolute;
}