@font-face {
    font-family: Jersey20-Regular;
    src: url(../fonts/Jersey20-Regular.ttf);
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/SpaceGrotesk.ttf);
}

:root {
    --main-background: #000000;
    --main-color: #FFFFFF;

    /* Borders */
    --border-width: 2px;
    --border-style: solid;
    --border-color: white;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SpaceGrotesk";
    color: var(--main-color);
}

*::selection {
    background-color: var(--border-color);
    color: var(--main-background);
}


body {
    background-color: var(--main-background);
}


main {
    margin: 20px auto;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 794px;
}

@media screen and (min-width: 1066px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        width: 1066px;
    }
}


@media screen and (max-width: 833px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        width: 522px;
    }
}

@media screen and (max-width: 521px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        width: 250px;
    }
}