<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/header.css">

    <!-- Standard assets -->
    <link rel="stylesheet" href="./styles/standard-assets/button.css">
    <link rel="stylesheet" href="./styles/standard-assets/input.css">
    <link rel="stylesheet" href="./styles/standard-assets/popup.css">
    <link rel="stylesheet" href="./styles/standard-assets/card.css">

    <!-- Scripts -->
    <script src="./scripts/scripts.js" defer></script>
    <script src="./scripts/popup.js" defer></script>
    
    <title>Document</title>
</head>
<body>
    <!-- Main header -->
    <header class="main-header">
        <div class="main-header-title">
            <h1 class="main-header-title-text1">Cesco-leak</p>
            <h1 class="main-header-title-text2">cl</p>
        </div>
        <div class="main-header-search">
            <input class="main-header-search-input" type="text" placeholder="Chercher un prof">
            <img  class="main-header-search-img" src="./images/search.png" alt="search icon">
        </div>

        <button class="standard-button main-header-button" onclick="openPopup('addPopup')">
            <p class="main-header-button-text">Ajouter un prof</p>
            <img class="main-header-button-img" src="./images/plus.png" alt="plus icon">
        </button>
    </header>
    <main>
        <!-- Professors cards -->
        <div class="standard-card">
            <!-- Photo and name -->
            <div class="standard-card-top">
                <img class="standard-card-image" src="./template-images/image.jpg" alt="undefined">
                <div class="standard-card-top-right">
                    <h1 class="standard-card-name">Mathieu Raetz</h1>
                    <button class="standard-button standard-card-top-right-button">Voter</button>
                </div>
            </div>
            <!-- Ratings -->
            <div class="standard-card-stars-container">  
                <p class="standart-card-stars-text">Moyenne</p>

                <div class="standard-card-stars">
                    <input type="radio" id="star1" name="rating" value="1"/>
                    <input type="radio" id="star2" name="rating" value="2"/>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <input type="radio" id="star5" name="rating" value="5"/>
                    
                    <label for="star1">1 star</label>
                    <label for="star2">2 stars</label>
                    <label for="star3">3 stars</label>
                    <label for="star4">4 stars</label>
                    <label for="star5">5 stars</label>
                </div>

                <p class="standart-card-stars-text">Autorité</p>
                <div class="standard-card-stars">
                    <input type="radio" id="star1" name="rating" value="1"/>
                    <input type="radio" id="star2" name="rating" value="2"/>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <input type="radio" id="star5" name="rating" value="5"/>
                    
                    <label for="star1">1 star</label>
                    <label for="star2">2 stars</label>
                    <label for="star3">3 stars</label>
                    <label for="star4">4 stars</label>
                    <label for="star5">5 stars</label>
                </div>
        
                <p class="standart-card-stars-text">Humour</p>
                <div class="standard-card-stars">
                    <input type="radio" id="star1" name="rating" value="1"/>
                    <input type="radio" id="star2" name="rating" value="2"/>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <input type="radio" id="star5" name="rating" value="5"/>
                    
                    <label for="star1">1 star</label>
                    <label for="star2">2 stars</label>
                    <label for="star3">3 stars</label>
                    <label for="star4">4 stars</label>
                    <label for="star5">5 stars</label>
                </div>
                
                <p class="standart-card-stars-text">Qualité d'enseignement</p>
                <div class="standard-card-stars">
                    <input type="radio" id="star1" name="rating" value="1"/>
                    <input type="radio" id="star2" name="rating" value="2"/>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <input type="radio" id="star5" name="rating" value="5"/>
                    
                    <label for="star1">1 star</label>
                    <label for="star2">2 stars</label>
                    <label for="star3">3 stars</label>
                    <label for="star4">4 stars</label>
                    <label for="star5">5 stars</label>
                </div>

                <p class="standart-card-stars-text">Gentilesse</p>
                <div class="standard-card-stars">
                    <input type="radio" id="star1" name="rating" value="1"/>
                    <input type="radio" id="star2" name="rating" value="2"/>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <input type="radio" id="star5" name="rating" value="5"/>
                    
                    <label for="star1">1 star</label>
                    <label for="star2">2 stars</label>
                    <label for="star3">3 stars</label>
                    <label for="star4">4 stars</label>
                    <label for="star5">5 stars</label>
                </div>
            </div>
            <!-- Open comments popup -->
            <div class="standard-button standard-card-button" onclick="openPopup('commentPopup')">Lire les avis</div>
        </div>
    </main>

    <!-- Popups -->
    <div id="addPopup" class="standard-popup">
        <button class="standard-button standard-popup-close add-popup" onclick="closePopup('addPopup')">
            <img class="standard-popup-close-img" draggable="false" src="./images/close.svg" alt="close icon">
        </button>
        <div class="standard-popup-content add-popup">
            <div class="select-image">
                <input id="uploadPhoto" class="upload-photo" type="file">
                <img id="previewImage" class="preview-image" src="./images/upload.png">
            </div>
            <input class="standard-input insert-name" type="text" placeholder="Entrer un nom">
            <button class="standard-button send-request">Envoyer</button>
        </div>
    </div>
    <div id="commentPopup" class="standard-popup">
        <!-- <button class="standard-button standard-popup-close" onclick="closePopup('commentPopup')">
            <img class="standard-popup-close-img" draggable="false" src="./images/close.svg" alt="close icon">
        </button> -->
        <div class="standard-popup-content comment-popup">
            <div class="standard-popup-content-messages">
                <div class="message">
                    <p>USER#### :</p>
                    <p>M.Raetz il casse vraimen trop les couilles !</p>  
                </div>
                <div class="message">
                    <p>USER#### :</p>
                    <p>J'en peux plus de ce type !</p>  
                </div>
            </div>
            <div class="standard-popup-content-send-messages">
                <input type="text" class="standard-input send-message">
                <button class="standard-button send-message">Envoyer</button>
            </div>
        </div>
    </div>
</body>
</html>