<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/header.css">

    <!-- Standard assets -->
    <link rel="stylesheet" href="./styles/button.css">
    <link rel="stylesheet" href="./styles/input.css">

    <script src="./scripts/scripts.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1 class="main-header-title">CESCO-LEAK</h1>
    </header>

    <button class="standard-button">LOREM</button>

    <input class="standard-input">

</body>
</html>