<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/header.css">

    <!-- Standard assets -->
    <link rel="stylesheet" href="./styles/standard-assets/button.css">
    <link rel="stylesheet" href="./styles/standard-assets/input.css">
    <link rel="stylesheet" href="./styles/standard-assets/card.css">
    <link rel="stylesheet" href="./styles/standard-assets/stars.css">

    <script src="./scripts/scripts.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1 class="main-header-title">CESCO-LEAK</h1>
    </header>

    <button class="standard-button">Lorem</button>

    <input class="standard-input">

    <div class="standard-card">
        <img class="standard-card-image" src="./template-images/image.png" alt="undefined">
        <h1 class="standard-card-name">John Doe</h1>
        
        <!-- Test -->
        <div class="standard-card-stars-container">
            
            <p class="standart-card-stars-text">Moyenne</p>
            <div class="standard-card-stars">
                <input type="radio" id="star1" name="rating" value="1"/>
                <input type="radio" id="star2" name="rating" value="2"/>
                <input type="radio" id="star3" name="rating" value="3"/>
                <input type="radio" id="star4" name="rating" value="4"/>
                <input type="radio" id="star5" name="rating" value="5"/>
                
                <label for="star1">1 star</label>
                <label for="star2">2 stars</label>
                <label for="star3">3 stars</label>
                <label for="star4">4 stars</label>
                <label for="star5">5 stars</label>
            </div>

            <p class="standart-card-stars-text">Lorem</p>
            <div class="standard-card-stars">
                <input type="radio" id="star1" name="rating" value="1"/>
                <input type="radio" id="star2" name="rating" value="2"/>
                <input type="radio" id="star3" name="rating" value="3"/>
                <input type="radio" id="star4" name="rating" value="4"/>
                <input type="radio" id="star5" name="rating" value="5"/>
                
                <label for="star1">1 star</label>
                <label for="star2">2 stars</label>
                <label for="star3">3 stars</label>
                <label for="star4">4 stars</label>
                <label for="star5">5 stars</label>
            </div>
    
            <p class="standart-card-stars-text">Ipsum</p>
            <div class="standard-card-stars">
                <input type="radio" id="star1" name="rating" value="1"/>
                <input type="radio" id="star2" name="rating" value="2"/>
                <input type="radio" id="star3" name="rating" value="3"/>
                <input type="radio" id="star4" name="rating" value="4"/>
                <input type="radio" id="star5" name="rating" value="5"/>
                
                <label for="star1">1 star</label>
                <label for="star2">2 stars</label>
                <label for="star3">3 stars</label>
                <label for="star4">4 stars</label>
                <label for="star5">5 stars</label>
            </div>
            
            <p class="standart-card-stars-text">Dolor</p>
            <div class="standard-card-stars">
                <input type="radio" id="star1" name="rating" value="1"/>
                <input type="radio" id="star2" name="rating" value="2"/>
                <input type="radio" id="star3" name="rating" value="3"/>
                <input type="radio" id="star4" name="rating" value="4"/>
                <input type="radio" id="star5" name="rating" value="5"/>
                
                <label for="star1">1 star</label>
                <label for="star2">2 stars</label>
                <label for="star3">3 stars</label>
                <label for="star4">4 stars</label>
                <label for="star5">5 stars</label>
            </div>
        </div>

        <div class="standard-button">Lire les avis</div>

    </div>

</body>
</html>