.standard-card {
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: 10px;
  position: relative;
  width: 250px;
  height: 400px;
  box-shadow: var(--border-width) var(--border-width) var(--border-color);
  user-select: none;
}

.standard-card-top {
  display: flex;
  gap: 10px;
}

.standard-card-top-right {
  transform: translateY(-5px);
}

.standard-card-image {
  border: var(--border-width) var(--border-style) var(--border-color);
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: var(--border-width) var(--border-width) var(--border-color);
  user-select: none;
}

.standard-card-name {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--main-color);
  user-select: all;
}

.standard-card-top-right-button {
  height: 55px;
  width: 100%;
}

.standard-card-stars {
  margin-top: 13px;
}

.star {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 6px;
  height: 23px;
  width: 23px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='transparent' stroke='white' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  font-size: 0;
}

.star-full {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' stroke='white' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.star-half {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs><clipPath id="half-star"><rect width="50%" height="100%" /></clipPath></defs><path fill="white" stroke="white" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" clip-path="url(%23half-star)" stroke-linecap="round" stroke-linejoin="round"/><path fill="transparent" stroke="white" stroke-width="38" d="M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.standart-card-stars-text {
  margin-bottom: -15px;
  transform: translateX(-1px);
  font-size: 18px;
  text-transform: uppercase;
  user-select: all;
}

.standard-card-button {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

@media screen and (max-width: 521px) {
  .standard-card {
    transform: scale(1.4) translateY(70px);
  }
}

@media screen and (max-width: 428px) {
  .standard-card {
    transform: scale(1.3) translateY(55px);
  }
}
