.standard-select {
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 17px;
    margin-bottom: -7px;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: none;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: calc(100% - 37.5px);
    box-shadow: var(--border-width) var(--border-width) var(--border-color);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--main-background);
    user-select: none;
    cursor: pointer;
  }
  
@media screen and (max-width: 521px) {
  .standard-select {
    margin-bottom: -25px;
    width: 352px;
  }
}

@media screen and (max-width: 428px) {
  .standard-select {
    margin-bottom: -20px;
    width: 325px;
  }
}