.standard-select {
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 17px;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: 0px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: calc(100% - 37.5px);
    box-shadow: var(--border-width) var(--border-width) var(--border-color);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--main-background);
    user-select: none;
    cursor: pointer;
  }
  