.standard-select {
    -webkit-appearance: none;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding-left: 7.5px;
    padding-right: 7.5px;
    box-shadow: var(--border-width) var(--border-width) var(--border-color);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--main-background);
    user-select: none;
    cursor: pointer;
}

.main-score-select {
  margin: 10px 17px -7px 17px;
  width: calc(100% - 37.5px);
}
  
@media screen and (max-width: 521px) {
  .standard-select {
    margin-bottom: -25px;
    width: 352px;
  }
}

@media screen and (max-width: 428px) {
  .standard-select {
    margin-bottom: -20px;
    width: 325px;
  }
}